PORT=3006
SUPABASE_URL=https://upyucogonudqdagmfeed.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVweXVjb2dvbnVkcWRhZ21mZWVkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4MzgxNzYsImV4cCI6MjA5MDQxNDE3Nn0.afUI5HWB2jTpU0LZEWKai1pOwQFCPl1Uk6iWiRyHY_o
